/*  
Stylesheet 

1- Cambios Globales
2- Containers 
3- Navbar
 1. Logo
 2. Menu
 3. Menu Animations
 4. Redes Sociales
 5. Redes Sociales Animations
4-



*/


/* ------Cambios Globales------ */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --facebook: #3b5999;
    --twitter: #55acee;
    --instagram: #e4405f;
    --color-letras: #252b33;
    --color-desierto: #eee8aa;
    --color-subtitulo: #6c757d;
    --transition: all 0.3s linear;
}

body{
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-letras);
}

/* ------Cambios Globales------ */

/* ------Containers----- */

.container{
    width: 70%;
    max-width: 1320px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

/* ------Containers------ */

/* ------NavBar Start------ */
header{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    border-bottom: 1px solid white;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}

.main-nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}


/* -----Logo----- */

/* -----Logo----- */

/* ----Menu---- */
.btn-cnt{
    
}

.btn-cnt a{
    color: inherit;
    text-decoration: none;
}

.list-item{
    display: inline-block;
}

.btn-cnt ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-weight: 700;
}

/* Menu Animations */

.btn-cnt a::after{
    content: "";
    height: 4px;
    width: 0;
    background-color: var(--color-desierto);
    display: block;
    transition: all 0.2s ease;
}

.btn-cnt a:hover::after{
    width: 100%;
}

/* Menu Animations */
/* ----Menu--- */

/* -----Redes Sociales Start----- */

.redes-cnt ul li{
    display: inline-block;
    margin: 0 5px;
    width: 25px;
    text-align: center;
}

/* Redes Sociales Animations */
.facebook, .twitter, .instagram{
    color: rgba(77,85,90,255);
    font-size: 20px;
}

.redes-cnt ul li a i:hover{
    transform: scale(1.3);
    transition: transform 0.5s;
}

.redes-cnt ul li .facebook:hover{
    color: var(--facebook);
}

.redes-cnt ul li .twitter:hover{
    color: var(--twitter);
}

.redes-cnt ul li .instagram:hover{
    color: var(--instagram);
}
/* Redes Sociales Animations */
/* ------Redes Sociales End------ */
/* ------NavBar End------ */

/* Seccion 1-Inicio */

.inicio-cnt {
    display: flex;
    align-items: center;
    background-color: #f5df4e;
    min-height: calc(107vh - 68px);
  }
  
  .cnt-sec1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .inicio-box1 h3 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.3;
    text-transform: uppercase;
  }
  
  .inicio-box1 h1 {
    font-weight: 600;
    font-size: 6.5rem;
    text-transform: uppercase;
    line-height: 1.3;
  }
  
  .inicio-box1 h4 {
    font-size: 1.4rem;
    line-height: 1.8;
    font-weight: 100;
  }
  
  .btn-cnt1 {
    line-height: 5;
  }
  
  .btn-cnt1 a {
    text-decoration: none;
  }
  
  .btn-trb {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: var(--color-letras);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .btn-contact {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1rem;
    border-bottom: var(--color-letras);
    border: 1px solid var(--color-letras);
    color: var(--color-letras);
    border: transparent;
  }



  
  .inicio-box2 {
    background-color: white;
    border-radius: 50rem;
  }
  
  .me {
    border-radius: 45rem;
    padding: 1rem;
    width: 30.5rem;
  }
  
  .arrow {
    display: flex;
    justify-content: center;
    position: relative;
    top: 180px
  }


/* Seccion 1-Finalizado */

/* Seccion 2-Inicio */

/* Aqui posiciono el texto resaltante que se vera por sobre los 
demas al llegar a esta parte */
.about-cnt {
    display: flex;
    background-color: white;
    min-height: calc(79vh - 65px);
  }

.inicio-box-A-M{
    display: flex;
    justify-content: center;
    margin-top: 105px;
}

.adjust-text-center{
    background-color: #f5df4e;
    padding-left: 8px;
    padding-right: 8px;
}

.inicio-box-A-M-2{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.inicio-box-A-M-2 h3{
    font-size: 40px;
    font-weight: 600;
}

/* En esta parte hago el circulo en donde se mostraran 
mis años de experiencia y posiciono todos los textos */

.cnt-sec2{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.sec2-text-data h3{
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 15px;
}

.sec2-text-data span{
    font-weight: 600;
    border-bottom: 3px solid #f5df4e;
}

.sec2-text-data p{
    font-size: 20px;
    line-height: 1.8;
    padding-right: 100px;
}

.sec2-text-exp{
    padding-bottom: 40px;
    padding-left: x;
}

.sec2-text-exp h1{
    border-radius: 50%;
    background: #f5df4e;
}

.sec2-text-exp h1{
    font-size: calc(2.0rem + 6.0vw);
    font-weight: 500;
    color: #4c4d4d;
    margin: 0 auto 24px; 
    margin: 0 auto 1.5rem; 
    width: 120px; 
    height: 120px;
    text-align: center; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.sec2-text-exp h3{
    font-size: 1.75rem;  
    width: 400px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sec2-text-exp h3{
    font-weight: 500;
}

.text-adjust span{
    font-weight: 700;
    margin-left: 5px;
}


/* Este es el contenedor acerca de la lista */
.about-list-cnt{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.list-item1{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.list-grey {
    padding-top: 50px;
    color: #7d858c;
    list-style: none;
}

.list-black{
    padding-top: 5px;
    color: inherit;
    list-style: none;
    font-weight: 600;
    font-size: 18px;
}

/* Seccion 2-Finalizado */

/* Section 3-inicio */

/* Ajustes generales del section */
.src-sec{
    background-color: #f8f9fb;
    min-height: calc(100vh - 65px);
    padding-top: 5rem;
}

.start-sec3{
    padding: 0px;
    margin-bottom: 4rem;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}

.start-sec3-cnt1{
    display: flex;
    justify-content: center;
}

/* Titulo */
.txt1-sec3{
    background-color: #f5df4e;
    padding-left: 8px;
    padding-right: 8px;
}

.start-sec3-cnt2{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.start-sec3-cnt2 p{
    font-size: 40px;
    font-weight: 600;
}

/* Ajustes de los contenedores */

.cnt-fila1{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 10rem;
    justify-content: space-around;
    margin-bottom: 5rem;
}
.cnt-fila2{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 10rem;
    justify-content: space-around;
    margin-bottom: 5rem;
    padding-top: 90px;

}

.box-sec3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 21rem;
    text-align: center; 
}

/* clr-pos-size Del interior del contenedor */

.icons-sec3{
    font-size: 50px;
    color: #f5df4e;
}

.dscp-text{
    padding-top: 10px;
    line-height: 30px;
}

.textcnt-center{
    font-weight: 600;
}







